@model (System.Collections.Generic.IList<Pizzeria.Models.Ingredient> Ingredients, string Error, string DeleteError)
@{
    ViewData["Title"] = "Admin Add Ingredient";
}

<div class="d-flex justify-content-between align-items-baseline mb-5">
    <h1>Ingredient</h1>
    <a href="@Url.Action("Index", "Admin")">Go back</a>
</div>

<form method="post" action="AddIngredient">
    <h3>Add Ingredient</h3>
    <div class="input-group input-group-lg mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" name="name" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
        </div>
        <input type="text" class="form-control" name="Price" aria-describedby="inputGroup-sizing-sm">
    </div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>    
    <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
    @if (string.IsNullOrEmpty(Model.Error))
    {
        <p class="text-danger">@Model.Error</p>
    }
</form>

<h3 class="mt-5">Ingredients</h3>
@if (string.IsNullOrEmpty(Model.DeleteError))
{
    <p class="text-danger">@Model.DeleteError</p>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Layer</th>
            <th scope="col">price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.Ingredients)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.Layer.Name</td>
                <td>
                    <button class="btn btn-danger" asp-action="DeleteIngredient" asp-route-id="@ingredient.Id">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>