@model (System.Collections.Generic.IEnumerable<Pizzeria.Models.IngredientViewTableModel> Ingredients, System.Collections.Generic.List<Pizzeria.Models.Layer> Layers, string Error, string DeleteError)
@{
    ViewData["Title"] = "Admin Ingredient";
}

<div class="d-flex justify-content-between align-items-baseline mb-5">
    <h1>Ingredient</h1>
    <a href="@Url.Action("Index", "Admin")">Go back</a>
</div>

<form method="post" action="AddIngredient">
    <h3>Add Ingredient</h3>
    <div class="input-group input-group-lg mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" name="name" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-lg mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
        </div>
        <input type="number" step="0.01" min="0.0" class="form-control" name="Price" aria-describedby="inputGroup-sizing-sm">
    </div>
    <select class="form-select" name="layerId" aria-label="Select layer">
        @foreach (var layer in Model.Layers)
        {
            <option value="@layer.Id">@layer.Name</option>
        }
    </select>    
    <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
    <p class="text-danger">@Model.Error</p>
</form>

<h3 class="mt-5">Ingredients</h3>
<p class="text-danger">@Model.DeleteError</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Layer</th>
            <th scope="col">price update</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.Ingredients)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.LayerName</td>
                <td> 
                    <form method="post" asp-action="EditIngredient">
                        <input type="hidden" name="id" value="@ingredient.Id" />
                        <input type="number" step="0.01" min="0.0" class="form-control" name="Price" value="@ingredient.Price">

                        <button class="btn btn-warning" type="submit">
                            Update
                        </button>
                    </form>
                </td>
                <td>
                    
                    <form method="post" asp-action="DeleteIngredient">
                        <input type="hidden" name="id" value="@ingredient.Id" />
                        <button class="btn btn-danger" type="submit">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>