@model System.Collections.Generic.List<Pizzeria.Models.LayerGroupedIngredientViewModel>
@{
    ViewData["Title"] = "Admin Layers";
    float total = 0f;
}

<div class="d-flex justify-content-between align-items-baseline mb-5">
    <h1>Layer</h1>
    <a href="@Url.Action("Index", "Admin")">Go back</a>
</div> 
<form method="post" action="AddPizza">
    <h3>Add Pizza</h3>
    @foreach (var layerIngredient in Model)
    {
        <div class="d-flex justify-content-start flex-wrap mb-3" style="gap: 0px 20px">
            <h5>@layerIngredient.LayerName:</h5>
            @foreach (var ingredient in layerIngredient.Ingredients)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="@ingredient.Id" name="ingredientIds">
                    <label class="form-check-label" for="flexCheckDefault">
                        @ingredient.Name - @ingredient.Price€
                    </label>
                </div>
            }
        </div>
    }
    <div class="input-group input-group-lg mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Pizza name</span>
        </div>
        <input type="text" class="form-control" name="name" aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
</form>

<script>
    @total = 2 + 3
</script>
